In [1]:
import pandas as pd
import numpy as np
from etl import *

In [2]:
weather_events_raw_df = pd.read_csv('data/StormEvents_details-ftp_v1.0_d2024_c20250516.csv')
weather_events_raw_df

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,202409,25,1100,202409,26,1100,195812,1219053,VIRGINIA,51,...,1.0,SSE,ATKINS,36.8502,-81.4119,36.8539,-81.4144,An upper level low was situated in the vicinit...,The Smyth County 911 Center reported that two ...,CSV
1,202411,16,230,202411,18,1421,197838,1223377,OREGON,41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A series of cold fronts the weekend of Nov. 16...,The Hog Pass SNOTEL reported an estimated 12 i...,CSV
2,202405,22,1230,202405,22,1615,191723,1184135,TEXAS,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A strong upper-level subtropical ridge/heat do...,Harlingen Valley International Airport (KHRL) ...,CSV
3,202405,21,1200,202405,21,1530,191723,1184133,TEXAS,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A strong upper-level subtropical ridge/heat do...,"By proxy, between locations in northern Kenedy...",CSV
4,202405,24,1405,202405,24,1410,191916,1182348,MISSISSIPPI,28,...,0.0,N,ALGOMA,34.1800,-89.0300,34.1800,-89.0300,An active storm pattern as several mid-level s...,Reports of trees down in Algoma.,CSV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70191,202402,1,0,202402,20,600,189164,1163394,MISSISSIPPI,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Exceptional (D4) drought conditions and Extrem...,Extreme drought (D3) conditions improved by th...,CSV
70192,202402,1,0,202402,13,600,189164,1163396,MISSISSIPPI,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Exceptional (D4) drought conditions and Extrem...,Severe drought (D2) conditions improved by mid...,CSV
70193,202402,1,0,202402,13,600,189164,1163398,MISSISSIPPI,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Exceptional (D4) drought conditions and Extrem...,Severe drought (D2) conditions improved by mid...,CSV
70194,202402,1,0,202402,6,600,189164,1163403,MISSISSIPPI,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Exceptional (D4) drought conditions and Extrem...,Severe drought (D2) conditions improved early ...,CSV
70195,202402,1,0,202402,6,600,189164,1163407,MISSISSIPPI,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Exceptional (D4) drought conditions and Extrem...,Severe drought (D2) conditions improved early ...,CSV

In [3]:
preprocessed_df = preprocess_weather_data(weather_events_raw_df)

/home/hussein/Documents/SEM6/HurtownieProjekt/etl.py:44: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df['BEGIN_DATETIME'] = dt_adjusted.dt.floor('H')
/home/hussein/Documents/SEM6/HurtownieProjekt/etl.py:57: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df['END_DATETIME'] = dt.dt.ceil('H')

In [4]:
preprocessed_df

,BEGIN_DATETIME,END_DATETIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_TYPE,EVENT_CATEGORY_ID
4,2024-05-24 14:00:00,2024-05-24 15:00:00,34.1800,-89.0300,34.1800,-89.0300,Thunderstorm Wind,1
7,2024-05-14 15:00:00,2024-05-14 16:00:00,34.5100,-88.2100,34.5100,-88.2100,Hail,1
8,2024-05-14 13:00:00,2024-05-14 14:00:00,35.2000,-88.2400,35.2000,-88.2400,Hail,1
16,2024-11-14 12:00:00,2024-11-14 13:00:00,44.3240,-123.3136,44.3264,-123.3104,Funnel Cloud,0
17,2024-11-20 07:00:00,2024-11-21 08:00:00,45.6200,-123.4325,45.6200,-123.4283,Heavy Rain,1
...,...,...,...,...,...,...,...,...
70186,2024-08-06 15:00:00,2024-08-06 16:00:00,41.6828,-81.3686,41.6828,-81.3686,Thunderstorm Wind,1
70187,2024-08-06 15:00:00,2024-08-06 16:00:00,41.7368,-81.2801,41.7368,-81.2801,Thunderstorm Wind,1
70188,2024-08-06 15:00:00,2024-08-06 16:00:00,41.1107,-81.6703,41.1107,-81.6703,Thunderstorm Wind,1
70189,2024-08-06 15:00:00,2024-08-06 16:00:00,41.0312,-81.4307,41.0312,-81.4307,Thunderstorm Wind,1
70190,2024-08-06 16:00:00,2024-08-06 17:00:00,40.5541,-81.9172,40.5541,-81.9172,Thunderstorm Wind,1

In [7]:
airport_df = pd.read_csv('data/T_MASTER_CORD.csv')
airport_df = airport_df[airport_df['AIRPORT_COUNTRY_CODE_ISO'] == 'US']
airport_df = airport_df.dropna(subset=['LATITUDE', 'LONGITUDE'])
airport_df

,AIRPORT_SEQ_ID,AIRPORT_ID,AIRPORT,DISPLAY_AIRPORT_NAME,DISPLAY_AIRPORT_CITY_NAME_FULL,AIRPORT_WAC_SEQ_ID2,AIRPORT_WAC,AIRPORT_COUNTRY_NAME,AIRPORT_COUNTRY_CODE_ISO,LATITUDE,LONGITUDE,UTC_LOCAL_TIME_VARIATION,AIRPORT_START_DATE,AIRPORT_THRU_DATE,AIRPORT_IS_CLOSED,AIRPORT_IS_LATEST
0,1000101,10001,01A,Afognak Lake Airport,"Afognak Lake, AK",101,1,United States,US,58.109444,-152.906667,NaN,7/1/2007 12:00:00 AM,NaN,0,1
1,1000301,10003,03A,Bear Creek Mining Strip,"Granite Mountain, AK",101,1,United States,US,65.548056,-161.071667,NaN,7/1/2007 12:00:00 AM,NaN,0,1
2,1000401,10004,04A,Lik Mining Camp,"Lik, AK",101,1,United States,US,68.083333,-163.166667,NaN,7/1/2007 12:00:00 AM,NaN,0,1
3,1000501,10005,05A,Little Squaw Airport,"Little Squaw, AK",101,1,United States,US,67.570000,-148.183889,NaN,8/1/2007 12:00:00 AM,NaN,0,1
4,1000601,10006,06A,Kizhuyak Bay,"Kizhuyak, AK",101,1,United States,US,57.745278,-152.882778,NaN,10/1/2007 12:00:00 AM,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19204,1705301,17053,8AK,Willow Conocophillips,"Nuiqsut, AK",101,1,United States,US,70.110833,-152.129722,-900.0,9/1/2024 12:00:00 AM,NaN,0,1
19205,1705401,17054,MO6,Lees Summit Municipal,"Lees Summit, MO",6401,64,United States,US,38.959167,-94.371944,-600.0,1/1/2024 12:00:00 AM,NaN,0,1
19209,1705801,17058,BXK,Buckeye Municipal,"Buckeye, AZ",8101,81,United States,US,33.422500,-112.686111,-700.0,7/1/2024 12:00:00 AM,NaN,0,1
19210,1705901,17059,N9Y,Murphy Field,"Auburn, NY",2201,22,United States,US,42.842778,-76.445278,-500.0,6/1/2024 12:00:00 AM,NaN,0,1
19211,1706001,17060,7CA,Lincoln Regional Karl Harder Field,"Lincoln, CA",9101,91,United States,US,38.909167,-121.351389,-800.0,9/1/2024 12:00:00 AM,NaN,0,1

In [ ]:
fact_table = weather_airport_join(preprocessed_df, airport_df, max_distance_km=100)

Step 1: Creating hourly weather data points...

Processing weather events: 100%|██████████| 32399/32399 [00:01<00:00, 21812.46it/s]

Created 76897 weather data points from 32399 events

Step 2: Finding nearby airports for each weather data point...

Processing weather points:   1%|▏         | 997/76897 [01:27<1:52:12, 11.27it/s]

In [16]:
example_usage()

Sample result:
   ORIGINAL_WEATHER_INDEX            DATETIME  WEATHER_LATITUDE  \
0                       0 2024-01-01 12:00:00         40.333333
1                       0 2024-01-01 13:00:00         40.500000
2                       0 2024-01-01 13:00:00         40.500000

   WEATHER_LONGITUDE    EVENT_TYPE  EVENT_CATEGORY_ID      BEGIN_DATETIME  \
0         -73.666667  THUNDERSTORM                  1 2024-01-01 10:00:00
1         -73.500000  THUNDERSTORM                  1 2024-01-01 10:00:00
2         -73.500000  THUNDERSTORM                  1 2024-01-01 10:00:00

         END_DATETIME  HOUR_OFFSET  INTERPOLATION_FACTOR AIRPORT_ID  \
0 2024-01-01 13:00:00            2              0.666667        JFK
1 2024-01-01 13:00:00            3              1.000000        JFK
2 2024-01-01 13:00:00            3              1.000000        LGA

            DISPLAY_AIRPORT_NAME AIRPORT_COUNTRY_NAME  AIRPORT_LATITUDE  \
0  John F. Kennedy International                  USA           40.6413
1  John F. Kennedy International                  USA           40.6413
2                      LaGuardia                  USA           40.7769

   AIRPORT_LONGITUDE  DISTANCE_KM
0           -73.7781    35.517350
1           -73.7781    28.259806
2           -73.8740    44.089558

Total joined rows: 3

,ORIGINAL_WEATHER_INDEX,DATETIME,WEATHER_LATITUDE,WEATHER_LONGITUDE,EVENT_TYPE,EVENT_CATEGORY_ID,BEGIN_DATETIME,END_DATETIME,HOUR_OFFSET,INTERPOLATION_FACTOR,AIRPORT_ID,DISPLAY_AIRPORT_NAME,AIRPORT_COUNTRY_NAME,AIRPORT_LATITUDE,AIRPORT_LONGITUDE,DISTANCE_KM
0,0,2024-01-01 12:00:00,40.333333,-73.666667,THUNDERSTORM,1,2024-01-01 10:00:00,2024-01-01 13:00:00,2,0.666667,JFK,John F. Kennedy International,USA,40.6413,-73.7781,35.517350
1,0,2024-01-01 13:00:00,40.500000,-73.500000,THUNDERSTORM,1,2024-01-01 10:00:00,2024-01-01 13:00:00,3,1.000000,JFK,John F. Kennedy International,USA,40.6413,-73.7781,28.259806
2,0,2024-01-01 13:00:00,40.500000,-73.500000,THUNDERSTORM,1,2024-01-01 10:00:00,2024-01-01 13:00:00,3,1.000000,LGA,LaGuardia,USA,40.7769,-73.8740,44.089558